body {
    font: 14px "Arial";
    line-height: 22px;
}

a {
    text-decoration: none;
    color: white;
    font: 14px "Arial";
    line-height: 22px;
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
}

/*Header*/

.header-container > div {
    float: left;
    box-sizing: border-box;
}

.header-item-1 {
    width: 15%;
    padding-right: 10px;
}

.header-item-2 {
    width: 35%;
    padding-right: 10px;
}

.header-item-3 {
    width: 50%;
}

.header-item-container {
    background-color: gray;
    min-height: 70px;
}

/*Main*/

.main-container {
    position: relative;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/*Left*/

@media screen and (min-width: 700px) {
    .left-side {
        float: left;
        width: 25%;
        padding-right: 15px;
        box-sizing: border-box;
    }
}

.left-side-nav  {
    background-color: gray;
}

.left-side-nav-list {
    padding: 10px;
}

.left-side-bottom {
    margin: 15px 0;
}

.left-side-bottom-container {
    min-height: 70px;
    background-color: gray;
}

@media screen and (min-width: 700px) {
    .left-side-bottom {
        position: absolute;
        bottom: 10px;
        width: 25%;
        margin: 0;
        padding-right: 15px;
        box-sizing: border-box;
    }
}

/*Right*/

@media screen and (min-width: 700px) {
    .right-side {
        float: right;
        width: 75%;
    }
}

.right-side-item-1 {
    min-height: 100px;
    margin-bottom: 15px;
    background-color: silver;
}

.right-side-item-2 {
    margin: 0 0 5px -10px;
    overflow: hidden;
}

.right-side-item-2 > li {
    float: left;
    width: calc(100% / 3);
    padding: 0 0 10px 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 550px) {
    .right-side-item-2 > li {
        width: 20%;
    }
}

.right-side-item-2 > li > div {
    min-height: 150px;
    background-color: silver;
}

.right-side-item-3 {
    text-align: justify;
}

.right-side-item-3-about {
    padding: 10px;
    background-color: silver;
}

.right-side-item-3-about:last-child {
    margin-top: 10px;
}

@media screen and (min-width: 550px) {
    .right-side-item-3-about {
        float: left;
        width: 45%;
        min-height: 176px;
    }
    .right-side-item-3-about:last-child {
        float: right;
        margin: 0;
    }
}

/*Footer*/

.footer-container {
    position: relative;
}

.footer-item-container {
    padding: 10px;
    min-height: 185px;
    background-color: gray;
}

.footer-item-1,
.footer-item-2 {
    margin-bottom: 10px;
    color: white;
}

@media screen and (min-width: 550px) {
    .footer-item-1,
    .footer-item-2 {
        float: left;
        width: calc(100% / 3);
        margin-bottom: 0;
        padding-right: 15px;
        box-sizing: border-box;
    }
}

.footer-item-1 ul {
    float: left;
    width: 50%;
}

.footer-item-2 li::before {
    content: "■";
    color: white;
    padding-right: 5px;
}

.footer-item-3 {
    box-sizing: border-box;
}

@media screen and (min-width: 550px) {
    .footer-item-3 {
        float: left;
        width: calc(100% / 3);;
        min-height: 185px;
    }
}

.footer-item-3 > div {
    background-color: gray;
    min-height: 70px;
    margin-bottom: 10px;
}

@media screen and (min-width: 550px) {
    .footer-item-3 :last-child {
        position: absolute;
        bottom: 0;
        width: calc(100% / 3);;
    }
}

